
/* ==================================

// Header

================================== */

.header {
	@include row;
	background: $theme-light-grey;

	.header__logo {
		@include column(12);
		margin: 25px auto 15px;
		text-align: center;
		@media( min-width: 768px ) {
			@include column(3);
			text-align: center;
		}
	}

	.header__navbar {
		@include column(12);
		@media( min-width: 768px ) {
			@include column(7);
		}

		&--nav {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			max-width: 315px;
			margin: 0 auto 15px;
			padding: 0;
			list-style: none;
			@media( min-width: 425px ) {
				max-width: 350px;
			}
			@media( min-width: 768px ) {
				max-width: 100%;
			}
		}

		&--item {
			font-weight: 600;
			font-size: 12px;
			flex-grow: 1;
			padding: 10px 5px;
			text-align: center;
			@media( min-width: 425px ) {
				font-size: 14px;
			}
			@media( min-width: 768px ) {
				font-size: 16px;
				margin-top: 15px;
			}
			@media( min-width: 992px ) {
				font-size: 18px;
			}

			&:hover {
				background-color: $theme-light-blue;
				cursor: pointer;
			}
			&:hover .header__navbar--anchor {
				color: $theme-white;
			}
		}

		&--anchor {
			display: block;
			text-decoration: none;
			color: $theme-nav-text;
		}
	}

	.header__cta {
		@include column(12);
		display: none;
		text-align: center;
    	margin-bottom: 25px;
		@media( min-width: 768px ) {
			@include column(2);
			display: block;
			margin-top: 20px;
			margin-bottom: 0;
		}

		&--button {
			background: $theme-light-orange;
			padding: 10px 15px;
			border: none;
			color: $theme-white;
			font-size: 12px;

			&:hover {
				background: $theme-dark-orange;
				cursor: pointer;
			}
		}
	}
}