
/* ==================================

// VPN

================================== */

.vpn {
	@include row;

	.vpn__image {
		@include column(12);
		margin: 35px auto;
		text-align: center;
		@media( min-width: 768px ) {
			@include column(5);
			float: right;
		}

		&--cloud {
			max-width: 135px;
			@media( min-width: 768px ) {
				max-width: 200px;
    			margin-top: 25px;
			}
		}
	}
	.vpn__product {
		@include column(12);
		text-align: center;
		@media( min-width: 768px ) {
			@include column(7);
			text-align: left;
		}

		&--header {
			font-weight: 300;
			color: #333;
			margin-bottom: 0;
			@media( min-width: 425px ) {
				font-size: 26px;
			}
			@media( min-width: 768px ) {
				font-size: 28px;
			}
			@media( min-width: 992px ) {
				font-size: 30px;
			}
		}

		&--body {
			font-size: 14px;
			line-height: 21px;
			color: #666666;
			@media( min-width: 768px ) {
				font-size: 16px;
				line-height: 24px;
			}
			@media( min-width: 992px ) {
				font-size: 18px;
				line-height: 27px;
			}
		}
	}
}