
/* ==================================

// Theme Styles

================================== */

$theme-white: #FFFFFF;
$theme-black: #000000;

$theme-light-grey: #F5F6F8;
$theme-dark-grey: #3A3D40;
$theme-light-orange: #FF9800; 
$theme-dark-orange: #ff7b00; 
$theme-light-blue: #43b1e3;

$theme-nav-text: #666666;
$theme-nav-hover: #373737;

/* ==================================

// General Rules

================================== */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: $theme-white;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

%clearfix {
  &:after {
     content: "";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
}

/* ==================================

// Dynamic Grid styles

================================== */

@mixin container {
    margin: 0 auto;
    overflow-x: hidden;
}

@mixin row {
  margin: 0 -15px;
    @extend %clearfix;
}

$grid-columns: 12;
@mixin column( $columns ) {
  float: left;
  padding: 0 15px;
  width: 100%;
  @media( min-width: 768px ){
    width: percentage( ($columns/$grid-columns ) );
  }
}

// Max-width-wrapper
@mixin max-width-wrapper {
	max-width: 1440px;
}

/* ==================================

// page-setup

================================== */

.page-container {
	@include container;
	@include max-width-wrapper;
}

.nav-inner-row-width,.inner-row-width {
  margin: 0 auto;
  float: none;
  padding: 0 15px;
  @media( min-width: 425px ) {
    padding: 0 25px;
  }
  @media( min-width: 768px ){
    max-width: 90%;
    padding: 0;
  }
  @media( min-width: 1024px ){
    max-width: 900px;
  }
}

.nav-inner-row-width {
  padding: 0;
}

.divider {
  margin: 25px auto 15px;
  border: 1px solid #D8D8D8;
  width: 90%;
}

/* ==================================

// Imports

================================== */

@import 'partials/header.scss';
@import 'partials/vpn_outline.scss';
@import 'partials/product_outline.scss';
@import 'partials/access_outline.scss';




